<section class="home page">
    <div class="content">
        <h1 class="text text-4xl">Let's Bake!!</h1>
        <img src="/img/cake-modified.png" alt="cake-img" class="cake-main mt-12 mx-auto">
        
    </div>
</section>

<section>
    <div class="middle-container">
        <h1>Menu</h1>
    </div>
</section>