<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Grocery Website Design Tutorial</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo"> <img src="images-removebg-preview.png" height="3rem"></i> Lil'Bakery </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#features">features</a>
        <a href="#products">products</a>
        <a href="#categories">categories</a>
        <a href="#review">review</a>
        <a href="#blogs">blogs</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

</header>

<section class="home">
    <div class="content">
        <h3 class="text">Lets Bake!!</h3>
        <img src="cake-modified.png" alt="cake-img" class="cake-main">
        
    </div>
</section>

<section>
    <div class="middle-container">
        <h1>Menu</h1>
    </div>
</section>

<script src="nav.js" charset="utf-8"></script>
</body>