<section class="cart">
    <!-- <div class="order container mx-auto">
        <div class="flex items-center border-b">

        </div>
    </div> -->
    <div class="empty-cart py-16">
        <div class="container mx-auto text-center" >
            <h1 class="text-3xl font-bold mb-2 text-white">Oops!! The Cart is Empty. </h1>
            <p class="px-2 py-2 text-white">
                Seems like you haven't chosen your menu yet.
                <br> Go to the home page to make an order.
            </p>
            <img class="w-2/5 mx-auto px-12 py-6" src="/img/empty-cart.png" alt="Empty Cart">
            <a href="/" class="btn-primary inline-block px-12 rounded-full mt-12 font-bold ">Go to Home Page</a>
        </div>
    </div>
</section>